.burger_container {
 background-color: white;
 padding-bottom: 40px;
 border-radius: 30px;
 z-index: 1;
}

.burger_description_block {
    z-index: 1;
    margin-top:-32px ;
    padding: 10px;

    border-radius:  12% 12% 15% 10% / 10% 10% 0% 0% ;
    border-bottom: 2px solid rgb(229, 229, 229);
    background-color: inherit;
}
.burger_title {
margin: 10px;
}
.burger_calories{
    font-size: 16px;
    font-weight: 600;
    margin: 10px;
}
.burger_description {
    margin: 10px;
    font-size: 14px;
}


.button_block {
    margin-top: 20px;
   
display: flex;
    flex-direction: column;
    align-items: center;
}
.button_block button {
    width: 86%;
    margin: 6px 0;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}
.customize {
border: 2px solid #d3d3d3 !important;
background-color: inherit;

}
.add {
    background-color: #f7bd44;
}
.add_button_cost {
    font-weight: 400;
    float: right;
}