.burger_container{
   display: flex;
    flex-direction: column;
    justify-content: space-between;
/*height: 90vh;*/
}
.return_block {

}
.return_button {

}
.heart_image {
    width: 16px;
    height: 16px;
}
.image_block {



}
.burger_image {
    width: 100%;

}
.burger_description_block {
    z-index: 1;
    margin-top:-32px ;
    padding: 10px;

    border-radius:  12% 12% 15% 10% / 10% 10% 0% 0% ;
    border-bottom: 2px solid lightslategrey;
    background-color: #f4f4f4;
}
.burger_title {
margin: 10px;
}
.burger_calories{
    font-size: 16px;
    font-weight: 600;
    margin: 10px;
}
.burger_description {
    margin: 10px;
    font-size: 14px;
}


.quantity_block {
    margin: 20px 0;
display: flex;
    justify-content: space-between;
    align-items: center;
}
.values_block {
display: flex;
    align-items: center;
}
.quantity {
    font-weight: bold;
}
.value {
font-size: 26px;

    margin: 0 26px;
}


.button_block {
    margin: 10px 0;
display: flex;
    flex-direction: column;
    align-items: center;
}
.button_block button {
    width: 100%;
    margin: 6px 0;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}
.customize {
border: 2px solid #d3d3d3 !important;

}
.add {
    background-color: #f7bd44;
}
.add_button_cost {
    font-weight: 400;
    float: right;
}