.cart {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90vh;
    margin: 0 auto;
   
}
.cart-items-block {
    flex-grow: 1;
    overflow-x: scroll;
    margin: 10px 0;
}
.cart-items-block::-webkit-scrollbar { 
    width: 0;
       height: 0;
 }
 .payment-button {
    background-color: #72706c;
 }

 .empty-cart-slogan {
    text-align: center;
    margin-top: 10%;
    font-size: 24px;
 }