.burger-section{
     margin: 0;
     height: 320px;
     overflow-y: scroll;


}

.burgers-container {
   padding: 10px 0;  
 
}
.burgers-cards{
display: flex;
flex-wrap: wrap;
justify-content: center;
height: 80%;
overflow:scroll;
}
.burgers-cards::-webkit-scrollbar {
    visibility: hidden; 
    width: 0;
   
    }