.burger-section{
     margin: 0;
     height: 320px;
     overflow-y: scroll;
    border-bottom: 2px solid #e6e6e6;
}
.burger-section::-webkit-scrollbar {
    width: 0;
   
  }

.burgers-container {
   padding: 10px 0;  
 
}
.burgers-cards{
display: flex;
flex-wrap: wrap;
justify-content: center;
height: 420px;
overflow:scroll;
}

.burgers-cards::-webkit-scrollbar {
    visibility: hidden; 
    width: 0;
   
    }

@media (min-width: 374px) {

    .burger-section {
        height: 360px;
    }
    .burger-card {
        width: 140px;
        height: 160px;

    }

}

@media (min-width: 768px) {

    .burger-section{

        height: 500px;

    }

}