.burger-section{
    /* margin-top: 0px; */
     height: 100%;
}

.burgers-container {
   padding: 10px 0;  
   height: 78%;
}
.burgers-cards{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
height: 80%;
overflow:scroll;
}
.burgers-cards::-webkit-scrollbar {
    /* visibility: hidden;
    width: 0; */
    }