.burger_section{
     margin: 0;
     //height: 320px;
     //overflow-y: scroll;
    border-bottom: 2px solid #e6e6e6;
}
.burger_section::-webkit-scrollbar {
    width: 0;
   
  }

.burgers_container {
   padding: 10px 0;  
 
}
.burgers_cards{
display: flex;
flex-wrap: wrap;
justify-content: center;
height: 70vh;
overflow:scroll;
}

.burgers_cards::-webkit-scrollbar {
    visibility: hidden; 
    width: 0;
   
    }

@media (max-height: 1000px) {
    .burger_section {
        //height: 70vh;

        .burgers_cards {
            height: 100%;

        }
    }

}

@media (min-width: 768px) {

  .burger_section{
    //height: 400px;

  }

}

@media (min-width: 560px) {

    .burgers_container {
       max-width: 500px !important;

    }

}
@media (min-width: 425px) {

}
@media (min-width: 374px) {

  .burger_section {

  }
  .burger_card {


  }

}