@media (max-width: 420px) {
    #root {
        width: 90% !important;
       
    }
    .burgers-cards {
        justify-content: center !important;
    }

    .burger-card {
        width: 140px !important;
        margin: 4px !important;
    }
    .input {
        margin-left: 10px;
        width: 200px !important;
    }
    .search-buton {
        margin-right: 20px;
    }
}