
/* MIN 768 PX */

@media (min-width: 768px) {
  #root {

    .container {
      max-width: 500px !important;
    }

    header {
      margin: 20px;

      .fit-menu {
        width: 30px;
        height: 30px;

      }

      .header-cart, .header-avatar {

        font-size: 30px;
      }
    }

    .search {
      margin: 20px;

    }

    .burger-card {
      width: 200px !important;
      height: 200px !important;

      .burger-image {
        width: 56%;
        height: 50%;
        top: 10%;
      }

      .description-block {
        margin-top: 43% !important;
        padding: 10px;
        background-color: rgb(230, 230, 230);

        .burger-title-block {
          font-size: 18px;

          .burger-price {
            font-size: 16px;
          }
        }
      }
    }

    .search-container {
      padding: 0 20px !important;
    }

    .input {
      width: 70% !important;
    }

  }

}



