.CourierDeliverySection {
    padding: 10px 20px;
}

.deliveryCourierContainer {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    background-color: #ffffff;
    font-size: 10px;
  
    border-radius: 70px;
    box-shadow: 5px 5px 12px #d1d1d1, -5px -5px 12px #ffffff;
}

.deliveryLink {
    display: block;
    width: 100%;
}

.customize-burger-container p {
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    /* padding: 4px 0; */

}

.courierBlock {
    display: flex;
    align-items: center;
    justify-content: center;
}

.courierImage {
    width: 100px;
    height: 80px;

}

.customBurgerImage {
    width: 100px;
    height: 100px;
    background-color: #f0b944;
    border-radius: 6px;
    padding: 4px;
    align-self: center;
    margin-right: 4px;
}

.deliveryButtonSlogan {
    margin: 2px;
    font-size: 14px;
    transform: translateY(-6px);
    text-align: center;
}


@media (min-width: 768px) {

    .CourierDeliverySection {
        padding: 40px 0;

        .deliveryCourierContainer {
            display: flex;
            justify-content: center;
          padding: 40px 60px;


            .courierImage {
                width: 140px;
                height: 120px;
            }
            .deliveryButtonSlogan {
                font-size: 18px;

            }
        }


    }
}