.return_block {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 30px 30px 10% 10% / 30px 30px 0% 0%;
  backdrop-filter: blur(20px) brightness(94%);
}
.return_button {
}
.heart_image {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
