.burger-section{
    /* margin-top: 0px; */
      
}

.burgers-container {
   padding: 10px 0;  
   
}
.burgers-cards{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
height: 400px;
overflow:scroll;
}
.burgers-cards::-webkit-scrollbar {
    visibility: hidden;
    width: 0;
    }