.delivery-section {
  /* background-color: #e0e0e0; */
}
.delivery-burger-container {
  max-width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;

    font-size: 10px;
   padding: 4px 0;
   -webkit-border-radius: 70px;
   border-radius: 70px;
  
   -webkit-box-shadow: 5px 5px 12px #d1d1d1, -5px -5px 12px #ffffff;
   box-shadow: 5px 5px 12px #d1d1d1, -5px -5px 12px #ffffff;
}

.customize-burger-container p{
text-align: center;
font-weight: 600;
font-size: 14px;
/* padding: 4px 0; */

}
.courier-block {
  display: flex;
  align-items: center;
}
.courier-image {
  width: 100px;
  height: 80px;
  
}
.custom-burger-image {
    width: 100px;
    height: 100px;
    background-color: #f0b944;
    border-radius: 6px;
    padding: 4px;
    align-self: center;
    margin-right: 4px;
}
