
.customize-burger-container {
   display: flex;
    flex-direction: column;
    justify-content: center;
   text-align: center;

    
    background-color: #ffcc66;
    padding: 10px;
 margin: 20px auto;
    width: 100px;

    font-size: 12px;
    border-radius: 50%;
}
.customize-burger-container p{
margin: 0;
}
.custom-burger-image {
    width: 40px;
    height: 40px;
}
