.anonsment {
    margin: 10px 0;
}
.anonsment-container {
  justify-content: center;
    overflow: hidden;
    width: 80%;
}

.scroll-text {
    
  margin: 0;
    /* font-weight: bolder;
    letter-spacing: normal;
    text-transform: capitalize; */
     
    animation-name: rightToLeft;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rightToLeft {
    0% {
      transform: translateX(200px);
    }
    100% {
      transform: translateX(-160px);
    }
  }