.anonsment {
    margin: 10px 0;
}
.anonsment-container {
  width: 80%;
  overflow: hidden;
   
}

.anonsment-text {
  text-align:center;
 margin: 0;
   animation: text 35s infinite linear;
   
  padding-left: 100%;
  white-space: nowrap;
}
@keyframes text {
  0%{
    transform: translate(20, 0);
  }
  
  100%{
    transform: translate(-160%, 0);
  }
}

@media (min-width: 560px) {

  .anonsment-text {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .anonsment {
    padding: 10px 0;
    
    
  }
  .anonsment-container {
    max-width: 600px !important;
  }
  .anonsment-text {
    font-size: 20px;
  }
}