header {
    //margin-top: 10px;
   
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
   //padding: 0 10px;
}
.fit-menu {
    width: 24px;
    height: 24px;

}
.header-title {
    font-weight: 600;
}

.cart-block {
     position: relative;
}
.header-cart {

}
.burgers-count {
    font-size: 12px;
    background-color: red;
    color:azure;
    padding: 2px 5px;
    border-radius: 50%;

    position: absolute;
    right: 0;
    top: -10px;
}
.header-cart, .header-avatar {
    cursor: pointer;
    transition: .3s;
    font-size: 26px;
}
.header-cart:hover, .header-avatar:hover {
    transform: scale(1.2);
}