.quantity_block {
    
    padding: 10px 20px 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
.values_block {
    display: flex;
    align-items: center;
}
.quantity {
    font-weight: bold;
}
.value {
    font-size: 26px;

    margin: 0 16px;
}