.search {
    margin: 20px 0;
}
.input {
    border-radius: 20px;
    border: 2px solid #dadada;
    width: 270px;
    max-height:30px;
    padding: 10px 20px;
    color:#aaaaaa;
}
.input::placeholder {
    color: #aaaaaa;
    font-weight: 500;
}
.input:focus {
    outline: 0;
}
.button {
    border-radius: 50%;
    padding: 10px;
    border: none;
    background-color: #f7bd44;
}
.button:focus {
outline: 0;
}