.search {
   margin: 10px 0;
}
.search-container {
    padding: 0 10px;
}
.input {
    border-radius: 20px;
    border: 2px solid #dadada;
    width: 60%;
    max-height:30px;
    padding: 2px 20px;
    color:#aaaaaa;

}
.input::placeholder {
    color: #aaaaaa;
    font-weight: 500;
}
.input:focus {
    outline: 0;
}
.button {
    border-radius: 50%;
    padding: 12px;
    border: none;
    background-color: #f7bd44;
}
.button:focus {
outline: 0;
}