.burger-card {
  width: 120px;
  height: 140px;
  margin: 10px 4px;
  border-radius: 20px;
  position: relative;
  color: black;

  .burger-image {
    width: 50%;
    height: 40%;
    position: absolute;
    left: 20%;
    top: 20%;
    transition: .5s;
  }
  .rating-block {
    display: flex;
    margin: 10px 10px;
    align-items: center;
    border-radius: 8px;
    width: 50px;
    height: 24px;
    display: flex;
    background-color: #fff;
    font-size: 14px;
    font-weight: 500;
  }
  .burger-heart {
    width: 20px;
    position: absolute;
    right: 8px;
    top: 6px;
    cursor: pointer;
  }
  .description-block {
    height: 60px;
    margin-top: 42%;
    background-color: #dbdbdb;
    position: relative;
    border-radius: 10% 10% 10% 10% / 0% 0% 10% 10% ;

  }
  .burger-title-block {
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    padding: 6px;

    .burger-price {
      font-size: 12px;
      font-weight: bold;
    }

  }
  .burger-counter-block {
    display: flex;
    align-items: center;
    position: absolute;
    right: 2px;
    bottom: 8px;
    font-size: 8px;

    .burger-count {
      font-size: 14px;
      margin: 0 4px;
      font-weight: 600;
    }
  }
}


.burger-image:hover {
  transform: scale(1.05);
}


@media (min-width: 374px) {

  .description-block {
    margin-top: 47%;

  }
}

@media (min-width: 425px) {

  .burger-card {
    width: 150px;
    height: 160px;

    .description-block {
      margin-top: 44%;
    }
  }
}

@media (min-width: 560px) {

  .burger-card {
    margin: 10px;
    width: 180px;
    height: 180px;

    .description-block {
      margin-top: 48%;
    }
  }
}
