.burger-card {
    width: 160px;
    height: 180px;
    margin: 10px;
    border-radius: 20px;
  position: relative;
    color:black;
}
.rating-block {
    display: flex;
    margin: 10px 10px;
    align-items: center;
    border-radius: 8px;
    width: 50px;
    height: 24px;
    display: flex;
    background-color: #fff;
    font-size: 14px;
    font-weight: 500;
}
.description-block {
height: 60px;    
margin-top: 60%;
background-color: #fff;
position: relative;
}
.burger-title-block {
    width:80%;
    font-size: 14px;
    font-weight: 600;
    padding: 6px;
}
.burger-price{
    font-size: 12px;
    font-weight:bold;
}
.burger-image {
    width: 50%;
    height: 50%;
 position: absolute;
 left: 20%;
 top: 16%;


}
.burger-heart {
    width: 20px;
    position: absolute;
    right: 8px;
    top: 6px;
    cursor: pointer;
}

.burger-counter-block {
    display: flex;
    align-items: center;
    position: absolute;
    right: 6px;
    bottom: 14px;
    font-size: 12px;
}
.burger-count {
    font-size: 14px;
    margin: 0 4px;
    font-weight: 600;
}