.burger-card {
    width: 160px;
    height: 180px;
    margin: 10px;
    border-radius: 20px;

}
.rating-block {
    display: flex;
    margin: 10px 10px;
    align-items: center;
    border-radius: 8px;
    width: 50px;
    height: 24px;
    display: flex;
    background-color: #fff;
    font-size: 14px;
    font-weight: 500;
}
.description-block {
margin-top: 70%;
background-color: #fff;
}
.burger-title-block {
    width:80%;
    font-size: 14px;
    font-weight: 600;
    padding: 6px;
}
.burger-price{
    font-size: 12px;
    font-weight:bold;
}