.cart-item {
  display: flex;
  margin: 30px 0;
  border-bottom: 1px solid #a8a8a8;
}
.product-image-block {
  width: 30%;

  .product-img {
    width: 60px;
    height: 60px;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}

.price-block {
  flex-grow: 1;

  .product-title {
    font-weight: 500;
  }
}

.quantity-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: 20px 0px;

  .quantity-button {
    width: 10px;
    background-color: #f0b944;
  }
  .quantity-value {
    font-size: 20px;
  }
}

.total-value {
  font-size: 20px;
  font-weight: 500;
}
