h1, h2, h3, h4, h5, h6, p, ul , li{
   margin: 0;
   padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
    width: 100%;
}
body {
      background-color: #f0b944;
}
#root {
    margin: 0px auto;
    font-family: Inter, sans-serif;
    border-radius: 40px;
    text-shadow: 1px 1px 10px rgb(184, 173, 173);
    background-color: rgb(245, 245, 245);
}

.container {
    max-width: 370px;
    margin: 0 auto;

}