.user_section {
  //background-color: red;
}

.user_container {
  height: 97vh;
  display: flex;
  flex-direction: column;

  .user_top_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content:center;
    

    .home_link {
      display: flex;
      
      align-items: center;
      padding: 6px;

      .return_title {
        font-size: 12px;
        font-weight: bold;
        margin-left: 10px;
      }
    }


    .form_button {
    display: block;
    margin-top: 14px;
      font-size: 12px;
      background-color: red;
    }
  }
  .user_top_block a {
    width: 70%;
  }

  .user_title {
    margin: 20px 0;
    font-size: 18px;
    text-align: center;
  }

  .user_block {
    flex: 1;
    background-color: red;

    .user_table {
     height: 100px;
      padding: 10px 0;
      width: 100%;
    }
    .user_table tr {
      
      
    }
  }
}

.form_wrapper {
  margin: 60px auto 20px auto;
  width: 90%;
  flex: 1;

  .form_input {
    margin-bottom: 10px;
  }
  .form_button {
    margin-top: 40px;
  }
}

.form_hint {
  display: block;
  width: 100%;
  text-align: center;

  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}
