.sort-section {
  margin: 10px 0;
}
.sort-container {
 padding: 0 30px;
}
.sort-title {
  font-weight: bold;
  cursor: default;
}
select {
  font-size: 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -o-appearance: none;
  text-align: right;
  width: 60px;
  color: #aaaaaa;
  background-color: inherit;
  font-weight: 500;
  border: none;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: 0;
  }
  &::-ms-expand {
    display: none;
  }
}
