.delivery-section {
    // height: 90vh;

    .delivery-container {
     display: flex;
     flex-direction: column;
     align-items: center;
     height: 90vh;
     
        .title {
        text-align: center;
        margin: 10px 0;
    } 

    .delivery-return-block {
        width: 90%;
        margin: 10px 0;
      display: flex;
      justify-content: space-between;

        .delivery-return-button{

        }
        .delivery-return-title{
           font-size: 14px;
        }
    }

  .box-form{
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
    // justify-content: space-around;
    align-items: center;
  }
   .delivery-submit{
    font-size: 14px;
    margin-top: auto;
    margin-bottom: 20px;
    background-color: #9f7216;
   }

    }
    
}