.delivery-section {


  .deliveryContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 80vh;
    backdrop-filter: blur(20px) sepia(20%);
    margin: 0 auto;
    .title {
      text-align: center;
      margin: 10px 0;

      color: #f0b944;
      font-size: 18px;
    }

    .deliveryReturnBlock {
      width: 90%;
      margin: 10px 0;
      display: flex;
      justify-content: space-between;

      .deliveryReturnButton {
        background-color: #f0b944;
        border-radius: 10px;
        padding: 6px;
      }
      .delivery-return-title {
        font-size: 14px;
      }
    }

    .boxForm {
      display: flex;
      flex-direction: column;
      text-align: center;
      flex: 1;

      align-items: center;

      .text-input {
        &:hover {
          background-color: rgba(255, 192, 2, 0.4);
        }
      }
    }
    .delivery-submit {
      font-size: 14px;
      margin-top: auto;
      margin-bottom: 20px;
      background-color: #f0b944;
      color: black;
    }

     .delivery-price {
      color: #f0b944;
     }
   .total-delivery-price {
    color: #f0b944;
   }

  }
}
