
.deliverySection {
background: url('../../assets/images/burger-delivery-fast-hamburger-car-cheeseburger-as-fast-food-car-mascot-burger-car-design-logotype_726113-2926.jpg');
background-size: cover;
  border-radius: 40px;
  padding: 14px;

  .deliveryContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: 97vh;
    backdrop-filter: blur(10px) ;


    .title {
      text-align: center;
      margin: 10px 0;

      color: #f0b944;
      font-size: 18px;
    }

    .deliveryReturnBlock {
      width: 90%;
      margin: 10px 0;
      display: flex;
      justify-content: space-between;

      .deliveryReturnButton {
        background-color: #f0b944;
        border-radius: 10px;
        padding: 6px;
      }

      .delivery-return-title {
        font-size: 14px;
      }
    }

    .boxForm {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-top: 40px;
      flex: 1;
color:#f0b944;
      align-items: center;

      .textInput {
        margin-bottom: 12px;
        padding: 4px;
        border-radius: 6px;
        border: none;
        background-color: rgba(255, 192, 2, 0.4);
        color:rgb(0, 0, 0);
        font-weight: bold;
        &:hover {
          background-color: rgba(189, 149, 18, 0.2);
        }
        
      }
    }

    .deliverySubmit {
      font-size: 16px;
      margin-top: 40px;
     padding: 10px 40px;
     border: none;
     border-radius: 10px;
      
      background-color: #f0b944;
      color: black;
    }

    .deliveryPrice {
      color: #f0b944;
    }

    .totalDeliveryPrice {
      color: #f0b944;
    }

  }
}
