.delivery-section {
    //background: url(../../assets/images/burger-delivery-fast-hamburger-car-cheeseburger-as-fast-food-car-mascot-burger-car-design-logotype_726113-2926.jpg);
    //background-size: cover;
    //border-radius: 8px;

    .delivery-container {
     display: flex;
     flex-direction: column;
     align-items: center;
     height: 80vh;
     backdrop-filter: blur(30px);
     
        .title {
        text-align: center;
        margin: 10px 0;
          color:#f0b944;
    } 

    .delivery-return-block {
        width: 90%;
        margin: 10px 0;
      display: flex;
      justify-content: space-between;

        .delivery-return-button{
  background-color: #f0b944;
  border-radius: 10px;
  padding: 6px;
        }
        .delivery-return-title{
           font-size: 14px;
        }
    }

  .box-form{
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
    
    align-items: center;

    .text-input {
      
    }
  }
   .delivery-submit{
    font-size: 14px;
    margin-top: auto;
    margin-bottom: 20px;
    background-color:#f0b944;
     color:black;
   }

    }
    
}